<!--<% if @booker.save %>-->
<!--<p class="if_message">Book was Successfully created</p>-->
<!--<% end %>-->

<p><strong>Title</strong>: <%= @booker.title %></p>


<p><strong>Body</strong>: <%= @booker.body %></p>

<%= link_to "Edit" , edit_path(@booker.id) %> | <%= link_to "Back" , "/bookers/index" %>